<div class="flex items-start space-x-4">
  <!-- Calendario -->
  <datepicker-inline></datepicker-inline>

  <div class="w-[37%]" id="divTablas">
    <table class="w-[100%] table-auto border-collapse">
      <tr class="h-24 text-center">
        <td>
          <!-- Imagen para ir al día anterior -->
          <img 
            src="../../assets/mingcute_arrows-left-fill.png" 
            alt="Left Arrow" 
            (click)="previousDate()" 
            style="cursor: pointer;">
        </td>
        <td>
          <!-- Fecha seleccionada -->
          <h1 class="border-none align-middle" id="fecha">{{ selectedDate | date: 'd MMMM yyyy' }}</h1>
        </td>
        <td>
          <!-- Imagen para ir al día siguiente -->
          <img 
            src="../../assets/mingcute_arrows-right-fill.png" 
            alt="Right Arrow" 
            (click)="nextDate()" 
            style="cursor: pointer;">
        </td>
      </tr>
    </table>

    <!-- Tabla -->
    <table class="w-[90%] h-[370px] table-auto border-collapse align-middle">
      <tr class="h-24 text-center">
        <td class="w-12 border-none align-middle">10:00 11:30</td>
        <td class="bg-[#2B7D3D] text-[#FFFFFF] border-none align-middle">FREE</td>
      </tr>
      <tr class="h-24 text-center">
        <td class="w-12 border-none align-middle">13:30 15:00</td>
        <td class="bg-[#2B7D3D] text-[#FFFFFF] border-none align-middle">FREE</td>
      </tr>
      <tr class="h-24 text-center">
        <td class="w-12 border-none align-middle">17:30 19:00</td>
        <td class="bg-[#2B7D3D] text-[#FFFFFF] border-none align-middle">FREE</td>
      </tr>
    </table>
  </div>
</div>
