<header class="bg-gray-400 text-white py-3 shadow-lg">
    <nav class="container mx-auto flex items-center justify-between">
        <!-- Left Section (Icon) -->
        <div class="flex items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/2936/2936886.png" 
                 alt="4V-GYM" 
                 class="h-12 w-12 mr-4">
        </div>
        <!-- Center Section (Title) -->
        <div class="flex-grow text-center">
            <h1 class=" tracking-widest">4V GYM</h1>
        </div>
    </nav>
</header>
