<header class="bg-[#D9D9D9] text-white py-3">
    <nav class="container mx-auto flex items-center justify-between">
        <!-- Left Section (Icon) -->
        <div class="flex items-center">
            <img src="../../assets/map_gym.png" 
                 alt="4V-GYM" 
                 class="h-20 w-20 mr-6">
        </div>
        <!-- Center Section (Title) -->
        <div class="flex-grow flex justify-center">
            <h1 class="text-[#D25B5B] text-[48px] font-['Roboto Mono'] font-normal leading-[58.61px]">
                4V GYM
            </h1>
        </div>
    </nav>
</header>
