<div class="fixed inset-x-0 bottom-0 bg-white p-4">
    <div class="flex justify-between w-full">
        <!-- Botón de Actividades -->
        <button (click)="showActivities()" class="Activities font-['Roboto Mono'] flex-1 px-4 py-2 text-gray-600 hover:text-[#D25B5B] focus:outline-none active:text-[#D25B5B] border-t-2 border-transparent hover:border-[#D25B5B] focus:border-[#D25B5B]">
            <i class="fa-solid fa-user mr-2"></i>
            ACTIVIDADES
        </button>

        <!-- Botón de Monitores -->
        <button (click)="showMonitors()" class="Monitors font-['Roboto Mono'] flex-1 px-4 py-2 text-gray-600 hover:text-[#D25B5B] focus:outline-none active:text-[#D25B5B] border-t-2 border-transparent hover:border-[#D25B5B] focus:border-[#D25B5B]">
            <i class="fa-solid fa-calendar mr-2"></i>
            MONITORES
        </button>
    </div>
</div>

<div #popupContainer></div>
